.sidebar{
    flex:0.35;
    border-right: 0.1px solid rgb(80, 80, 100);
}

.sidebar__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    padding-right: 0px;
    background-color: #20252e;
    top:0;
    margin-bottom: 10px;
}

.sidebar__headerRight{
    display: flex;
    flex-direction: row;
    min-width: 10vw;
}

.sidebar__headerSearchp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar__headerSearch>input{
    outline-width: 0;
    background-color: #20252e;
    border: 0;
    color: white;
}

.sidebar__headerRight>.MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;

}

.sidebar__headerSearch{
    display: flex;
    flex-direction: row;
    background-color: #20252e;
    margin: 10px 10px;
    align-items: center;
    flex: 1;
    border-radius: 7px;
    padding: 3px 12px;
}